
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #716d6d;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  section h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  section p {
    color: #666;
  }
  
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav a {
      display: block;
      margin: 5px 0;
    }
  }

  /* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  font-size: 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar img {
  height: 40px;
  margin: top 3px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  top: 100%;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
  