main {
  margin-top: 50px; /* Adjust as needed based on your navbar height */
  margin-bottom: 50px; /* Adjust as needed based on your footer height */
  padding-top: 20px; /* Additional padding for the main C */
}

/* Modern Navigation Bar styles moved to Navbar.css */

  footer {
    background-color: #333;
    color: #fff;
    
    text-align: center;
    
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-size: small;
  }

  .got {
    text-align: center;
  }
  body{
    margin: 0;
  }
  